<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <% if user == current_user %>
        <li>
          <span> Me </span>
          <span> <%= link_to 'My Profile',  user_path(current_user), class: 'profile-link' %> </span>
        </li>
      <% else %>
        <li> Name: <%= user.name %>
          <span class="profile-link">
            <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
          </span>

          <span>
            <%invite = current_user.invitations.where(sender_id: user.id)%>
            <% friendship = current_user.friendships.where(receiver_id: user.id) %>
            <% if invite.any? %>
              <% if invite[0].status %>
                You are friends
              <% else %>
                <%= link_to 'Accept Request', accept_friendship_path(invite[0].id), method: :put %>
                <%= link_to 'Reject Request', reject_friendship_path(invite[0].id), method: :put %>
              <% end %>
            <% elsif friendship.any? %>
              <% if friendship[0].status %>
                You are friends
              <% end %>
            <% elsif friendship.none? %>
              <%= form_for @friendship, url: friendships_path, method: :post do |f| %>
                <%= f.hidden_field :receiver_id, value: user.id %>
                <%= f.hidden_field :status, value: nil %>
                <%= f.submit "Send Invite" %>
              <% end %>
            <% end %>
          </span>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
